Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >
	<input type="text" id="comment" name="comment[texto]" value "" /> 
	<button type="submit" class="boton"><i class="fa fa-check fa-lg"></i></button>
	<a class="boton" href="/quizes/<%=quizid%>"><i class="fa fa-undo fa-lg"></i></a>
</form>