<img class="author" src="./images/FotoCurriculum.png">
<h2>Ramón Maldonado Rodríguez</h2>
<video class="author" controls>
	<source src="./videos/cv.mp4" type="video/mp4">
	<source src="./videos/cv.webm" type="video/webm">
</video>
