body {
	background: #333;
}

#page-wrap:after {
	content:"Smartphone Layout";
}

h2 span, section h3 {
	display: none;
}

body, footer, input {
	font-size: large;
}

img.author {
	width: 128px;
}

video.author {
	width: 95%;
}
