* {
	margin: 0;
	padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-wrap {
	margin: 2% auto;
	color: white;
	height: auto;
}

#page-wrap  .main{
	border: 1px solid #999; 
	padding: 1%;
	margin-bottom: 1px;
	color: black;	
}

section > div {
	padding: 20px;
}

header, nav, section {
	background: #eee;
	text-align: center;
}

footer {
	background: #eee;
	text-align: center;
}

nav span {
	margin: 0px 10px 0px 0px;
}

a {
  color: #00B7FF;
}

span.respuesta {
	color: red;
}

span.respuestaOK {
	color: green;
}

.buscar, .comentarios, form {
	display: table-cell;
	text-align: left;
	width: 90%;
	margin: auto;
}

button, .boton , input, select {
	border: 1px solid #00B7FF;
	background-color: white;
	border-radius: 5px;
	font-size: smaller;
	padding: 5px;
	color: #00B7FF;	
}
.boton, input, select {
	margin:5px 2px;
}

select {
	width: 137px;
}
button:hover, .boton:hover {
	border-color: white;
	background-color: #00B7FF;
	color: white;
}

td {
	text-align: left;
}

.borrar {
	display: inline;	
}

#ErrorMsgs {
	color: #f61; 
	font-size: smaller;
}

.aRight {
	display: block;
	float:right;
}
.rem {
	display: inline-block;
	width: 80px;
	text-align: right;
}