body {
	background: #999;
}

#page-wrap:after {
	content: "Wide layout";
}

#container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;}

nav { 
	width: 20%;
}

nav span {
	margin: 0px 80% 0px 0px;
} 
 
section {
	width: 80%;
}

footer {
	display: block;
}

video.author {
	width: 95%;
}