<label for="preq" class="rem">Pregunta:</label>
<input class="boton" type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/></p>
<label for="resp" class="rem">Respuesta:</label>
<input class="boton" type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/></p>
<a class="boton" href="/quizes">Cancelar</a>
<input class="boton" type="submit" value="Salvar">
