<p>	
	<span class="respuesta<%= color %>"> <%= respuesta %> </span>
	<a href="/quizes/<%= color==='OK' ? '' : quiz.id %>" class="" ><i class="fa <%= color === 'OK' ? 'fa-check' : 'fa-repeat'%> "></i></a>
</p>