    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	Pregunta: <%= quiz.pregunta %> <p>
    	<input class="boton" type="text" name="respuesta"/>
    	<input class="boton" type="submit" value="Enviar"/>
	</form>
