    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	<strong>Pregunta</strong>: <%= quiz.pregunta %> <p>
    	<input class="" type="text" name="respuesta" placeholder="Respuesta"/>
		<button type="submit" class="boton"><i class="fa fa-check fa-lg"></i></button>
	</form>
