<h2>Login</h2>

<form method="post" action="/login">

	<div>
		<label for="login">Usuario:</label><br/>
		<input type="text" id="login" name="login"  autofocus/>
	</div>
	
	<div>
		<label for="password">Contraseña:</label><br/>
		<input type="password" id="password" name="password" />
	</div>
	
	<div class="actions">
		<input name="commit" type="submit" value="Aceptar" class="boton"/>
	</div>
	
</form>
	
	